.search-input {

    padding: 8px 20px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #F5F8FF;
}
.nav-button{
    background: none;
    border: none;
    cursor: pointer;
}
.search-bar {
    display: flex;
    width: 572px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px #00000040;
    align-items: center;
    gap: 10px;
    position: fixed;
    background-color: #F5F8FF;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 41px;
    border: 1px solid #EDF0F7;
}
.search-icon {
    margin-left: 30px;
    cursor: pointer;
}
.notification-icon {
    cursor: pointer;
    color: black;
    font-size: 20px;
}
.searchbar-nav {
    background-color: #FFFFFF;
    height: 64px;
    display: flex;
    padding: 20px;
    width: 100%;
    top: 0;
    border: 1px solid #DBE1F0;
}


